@font-face {
    font-family: font1;
    src: url(../fonts/ShockingHeadline-vYKA.ttf);
  }
  @font-face {
    font-family: font2;
    src: url(../fonts/Typoster-yJ75.ttf);
  }

  @font-face {
    font-family: font3;
    src: url(../fonts/Deutschlander.otf);
  }