body {
    background-color: rgb(190, 190, 190);
}


.article_bg {
    height: 200vh;    
    background-color: rgb(233, 229, 215);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
    padding: 2%;
}

.barcode {
    width: 13%;
    height: auto;
}

.header_text {
    font-family: title_font;
    float: right;
    color: rgb(82, 82, 82);

}

.divider_thin {
    border-bottom: solid #000 4px;
    margin-bottom: 3px;
}

.divider_thick {
    border-bottom: solid #000 8px;

}

.article_name {
    font-family: name_font;
    color: rgb(37, 37, 37);
    font-size: 7rem;
    margin: 0;
    text-transform: uppercase;
}

.article_title {
    color: rgb(59, 59, 59);
    font-family: title_font;
    line-height: 6rem;
    padding: 0;
    margin: 0;
    font-size: 8rem;
}