::selection {
    background: #ffb7b7;
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #ffb7b7;
    /* Gecko Browsers */
}

body {
    background-color: rgb(190, 190, 190);
}

p {
    font-family: 'Times New Roman', Times, serif !important;
    color: #161616;
    font-size: 1.2rem;
    margin: 0;
    padding: 10px;

}

.article_bg {
    background-color: rgb(233, 229, 215);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
    padding: 2%;
}

.barcode {
    width: 13%;
    height: auto;
}

.header_text {
    font-family: font2 !important;
    float: right;
    color: rgb(82, 82, 82);

}

.divider_thinner {
    border-bottom: solid rgb(19, 19, 19) 2px;
    margin-bottom: 3px;
}

.divider_thin {
    border-bottom: solid rgb(19, 19, 19) 4px;
    margin-bottom: 3px;
}

.divider_thick {
    border-bottom: solid rgb(26, 26, 26) 8px;

}

.divider_thinner_dotted {
    border-bottom: dotted rgb(19, 19, 19) 2px;
    margin-bottom: 3px;

}

.article_name {
    font-family: font1;
    color: rgb(37, 37, 37);
    font-size: 7rem;
    margin: 0;
    text-transform: uppercase;
}

.article_title {
    margin-top: 10px;
    margin-bottom: 10px;

}

.article_title h1 {
    color: rgb(59, 59, 59);
    font-family: font2;
    line-height: 6rem;
    padding: 0;
    margin: 0;
    font-size: 8rem;
}

@media(max-width:992px) and (min-width:601px) {
    .article_name {
        font-size: 5.5rem;
    }

    .article_title h1 {
        line-height: 5rem;
        font-size: 6rem;
    }
}

@media(max-width:601px) {
    .article_name {
        font-size: 3.5rem;
    }

    .article_title h1 {
        line-height: 3rem;
        font-size: 4rem;
    }
}

.navbar {
    padding: 0;
    margin: 10px !important;
}

.navbar h1 {
    font-family: font3;
    padding: 0;
    margin: 0 !important;
    font-size: 2rem;
}

.navbar a {
    color: black;
}

.navbar a:hover {
    color: rgb(110, 110, 110);
    transition: ease 250ms;
}

.dot {
    margin-right: 10px;
    height: 16px;
    width: 16px;
    background-color: rgb(148, 148, 148);
    border-radius: 50%;
    display: inline-block;
}

.desc_title {}

.desc_title h5 {
    color: #161616;
    font-family: font5;
    display: flex;
    align-items: center;

}

.projects li {
    margin-top: 30px;
}
@media(max-width:601px) {
    .projects li {
        margin-top:20px;
    }
}
.projects a {
    color: #000;
}

.projects li h6 {
    font-family: font4;
    font-weight: 200;
    text-decoration: underline;
    font-size: 1em;

}

.projects li p {}