@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fjalla+One&family=Oswald:wght@700&display=swap');


body {
  background: rgb(245, 245, 245);
}

::selection {
  background: #ffb7b7;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #ffb7b7;
  /* Gecko Browsers */
}

.name {
  /* font-family: 'Anton', sans-serif; */
  /* font-family: 'Fjalla One', sans-serif; */
  font-family: 'Oswald', sans-serif;
  font-size: xx-large;
  margin-top: 5rem;
}

.title {
  font-family: 'Anton', sans-serif;
  font-size: 7em;

}

.image {
  width: 100%;
  height: auto;
  padding: 0 3rem 3rem 3rem;
}











@media(max-width:768px) {
  .name {
    font-size: x-large;
    text-align: center;

  }

  .title {
    font-size: 4em;
    text-align: center;
  }
}